@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR:wght@100..900&family=Germania+One&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --background-primary: rgb(57, 57, 203);
    --background-secondary: rgb(206, 152, 52); 
}
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0px 0 20px 0;
    height: 200vh;
}
#minitask h1{
    margin-top: 1em;
}
#minitask h2{
    margin-top: 0.5em;
}
ol.cobaFont>li{
    font-family: "Noto Sans JP", serif;
}
div.saran>div{
    margin-top: 20px;
}
.btnSubmit{
    margin-top: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(61, 61, 220);
    border: 0.5px solid;
    border-radius: 5px;
    padding: 10px;
}
/* Minitask 02 */
#kalenderUI{
    margin: 20px;
}
.kalenderUIMain{
    justify-content: center;
    align-items: center;
    text-align: center;
}
main.kalenderUIMain>section{
    margin-bottom: 10px;
}
.monthYear{
    margin-bottom: 10px;
}
.day{
    display: inline-block;
    width: 50px;
    text-align: center;
}
.day .weekday{
    display: block;
    font-weight: 600;
}
.date{
    display: block;
    padding: 15px;
    border-radius: 50%;
}
div.day>.date:hover{
    background-color: rgb(185, 182, 182);
}
.selected{
    background-color: rgb(22, 189, 189);
}

/* minitask 03 */
header.minitask3{
    background-color: hsla(180, 100%, 50%, 0.8);
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}
header.minitask3 > nav li{
    list-style-type: none;
    padding: 20px;
}
header.minitask3 > nav li > a{
    text-decoration: none;
    color: black;
} 
 .konten{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
 }
 .konten>section{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 500px;
 }
 .konten img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 120px 80px 120px;
 }
 .linkedInLogo{
    display: block;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 30px;
    color: white;
    width: 70px;
    height: 70px;
    /* background-color: #0077B5; */
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: radial-gradient(circle at 35% 35%, #42a3d7, #0077B5);
    font-family: "Source Sans 3", serif;
    font-weight: 600;
    text-decoration: none
 }

 /* Minitask 04 */
input[type="email"]{
    border-color: red;
}
button[data-role="primary"]{
    border: 2px solid #2a15e7
}
article[data-status="error"]{
    color: red;
}
.table tbody>tr:nth-child(even){
    background-color: var(--background-secondary);
}
.table tbody>tr:nth-child(odd){
    background-color: var(--background-primary);
}
.table thead>tr{
    background-color:darkgray;
}
section#lists >ul >li:nth-child(even){
    background-color: aqua;
}
.btn:hover{
    cursor: pointer;
}
article > h2 ~ p{
    &::first-letter{
        font-size: 30px;
        font-weight: 600;
    }
}
header.advance{
    display: inline-block;
}

/* Minitask 02 - flex */
header.minitask02{
    position: sticky;
    top: 0;
    z-index: 100vh;
    background-color: black;
    color: white;
}
header.minitask02 nav > ul{
    /* display: flex; */
    gap: 10px;
    padding: 0;
}
header.minitask02 nav > ul li{
    list-style-type: none;
}
header.minitask02 nav > ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.kontenFlex{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
.kontenFlex .test{
    flex-basis: 100px;
    background-color: black;
    height: 50px;
    &:nth-child(2){
        flex-grow: 1;
        flex-shrink: 2;
    }
}

@media screen and (max-width: 1024px){
    header.minitask3{
        height: 70px;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: hsla(0, 0%, 100%, 0.9);
    }
    header.minitask3 i{
        width: 2px;
        height: 2px;
    }
    header.minitask3 nav ul{
        padding: 0;
        text-align: center;
        padding: 25px 0;
    }
    header.minitask3 li{
        list-style-type: none;
        display: inline-block;
        margin-right: 30px;
    }
    header.minitask3 a{
        text-decoration: none;
        color: rgb(97, 88, 88);
        font-family: arial;
        font-weight:600;
        font-size: 16px;
    }
    header.minitask02{
        display: flex;
        justify-content: space-between;
    }
    header.minitask02 nav > ul{
        display: flex;
    }
}
@media screen and (max-width: 768px){
    header.minitask3{
        background-color: hsla(180, 100%, 50%, 0.8);
        position: sticky;
        top: 0;
        z-index: 10;
        text-align: center;
        display: block;
        height: 25vh;
    }
    header.minitask3 > nav ul{
        padding: 0;
    }
    header.minitask3 > nav li{
        list-style-type: none;
        display: block;
    }
    header.minitask3 > nav li > a{
        text-decoration: none;
        color: black;
    } 
    header.minitask02{
        display: block;

    }
    header.minitask02 nav > ul{
        display: block;
    }  
}